:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: #010c15;
  color: #e5e9f0;
  font-family: Fira Code;
  font-style: normal;
  line-height: normal;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  /* background-color: #010c15; */
  border: 1px solid #1e2d3d;
}

::-webkit-scrollbar-thumb {
  background-color: #607b96;
  /* border-radius: 4px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1e2d3d;
}

@media only screen and (max-width: 767px) {
  .md {
    display: none;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: transparent; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-prev {
  opacity: 0.5;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

.swiper-slide-next {
  opacity: 0.5;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}
